body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000;
    color: #fff;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.menu button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.menu button:hover {
    background-color: #666;
}
.menu button.active {
    background-color: #f9a825;
    color: #000;
}
.container {
    display: none;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #333;
}
.container.active {
    display: block;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    margin-bottom: 10px;
    color: #f9a825;
}
.section label {
    display: block;
    margin-bottom: 5px;
}
.section input[type="number"] {
    width: 50px;
    padding: 5px;
    
    border: none;
    border-radius: 5px;
}
.section input[type="number"] {
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #555;
    color: #fff;
}
.payment-option {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.payment-option.selected {
    background-color: #f9a825;
    color: #000;
}
button {
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button.confirmar {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
}
button.confirmar:hover {
    background-color: #388e3c;
}
button.descargar {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    margin-top: 20px;
}
button.descargar:hover {
    background-color: #e0e0e0;
}
button.anular {
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
}
button.anular:hover {
    background-color: #e64a19;
}
button.entregado {
    padding: 10px 20px;
    background-color: #ffeb3b;
    color: #000;
    float: right;
    animation: blink 1s infinite;
}
button.entregado.entregado {
    background-color: #ffeb3b;
    color: #fff;
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}
.totals {
    font-weight: bold;
    margin-top: 20px;
}
.timestamp {
    text-align: right;
    margin-bottom: 20px;
}
.order-list {
    
    min-height: 100vh;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    padding: 10px;
}
.order-item {
    padding: 10px;
    border-bottom: 1px solid #444;
    position: relative;
}
.order-item:last-child {
    border-bottom: none;
}